extends layout/template

block vars
	- var pageTemplate = "index"; // page-specific var

block head
	script(src="/js/main.bundle.js")

block content
	.index
		.index__wrap.index__wrap_step2.js-index-step
			.step.step_1
				.title Выберите параметры
			.step.step_2
				.title Введите исходные данные по проектам
				table.table.table_project.js-initial-table
					thead
						tr
							th Момент времени (t)
							th 0
							th 1
							th 2
							th 3
					tr
						th Проценты по инвестированию (ht)
						td.table__cell.table__cell_gray
						td(contenteditable=true) 0.05
						td(contenteditable=true) 0.07
						td(contenteditable=true) 0.07
					tr
						th Проценты по заимствованию (st)
						td.table__cell.table__cell_gray
						td(contenteditable=true) 0.12
						td(contenteditable=true) 0.10
						td(contenteditable=true) 0.10
					tr
						th
							| Инвестиционные платежи:
							br
							| Проект 1 (zt(1))
						td(contenteditable=true) -500
						td(contenteditable=true) -400
						td(contenteditable=true) 800
						td(contenteditable=true) 400
					tr
						th Проект 2 (zt(2))
						td(contenteditable=true) -300
						td(contenteditable=true) -800
						td(contenteditable=true) 1200
						td(contenteditable=true) 200
					tr
						th Проект 3 (zt(3))
						td(contenteditable=true) -900
						td(contenteditable=true) 800
						td(contenteditable=true) 360
						td(contenteditable=true) -10
					tr
						th Базовые платежи (Mt)
						td(contenteditable=true) 600
						td(contenteditable=true) 100
						td(contenteditable=true) -200
						td(contenteditable=true) 800
					tr
						th Изъятия (ftY)
						td(contenteditable=true) 20
						td(contenteditable=true) 22
						td(contenteditable=true) 24
						td(contenteditable=true) 26
				.index__btn.btn.btn_red.js-table-set Установить

			.step.step_3
				.title Capitalization matrix
				.index__capitalization.js-index-capitalization
				br
				br
				.text.js-capitalization-text
				br
				br
				.title Result
				.index__result.js-cap-res
				br
				br
				.title Regret matrix
				.index__regret.js-index-regret
				.title Result
				.index__result.js-reg-res
			.step.step_4
				.title Simplex method
				table.table.table_simplex.js-index-table
					tr
						td(contenteditable=true)
						td(contenteditable=true)
						td(contenteditable=true)
						//-td(contenteditable=true)
					tr
						td(contenteditable=true)
						td(contenteditable=true)
						td(contenteditable=true)
						//-td(contenteditable=true)
					tr
						td(contenteditable=true)
						td(contenteditable=true)
						td(contenteditable=true)
						//-td(contenteditable=true)

				.index__btn.btn.btn_red.btn_disabled.js-get-solve Решить

				.index__result.js-index-result

			//-table.index__table.js-index-table
				tr
					td
						input(type='text' name='el11')
					td
						input(type='text' name='el12')
					td
						input(type='text' name='el13')
				tr
					td
						input(type='text' name='el21')
					td
						input(type='text' name='el22')
					td
						input(type='text' name='el23')
				tr
					td
						input(type='text' name='el31')
					td
						input(type='text' name='el32')
					td
						input(type='text' name='el33')



