extends layout/template

block vars
	- var pageTemplate = "index"; // page-specific var

block head
	script(src="/js/main.bundle.js")

block content
	.index
		.index__wrap
			.index__title Simplex method
			table.index__table
				tr
					td(contenteditable=true)
					td(contenteditable=true)
					td(contenteditable=true)
				tr
					td(contenteditable=true)
					td(contenteditable=true)
					td(contenteditable=true)
				tr
					td(contenteditable=true)
					td(contenteditable=true)
					td(contenteditable=true)

			.index__btn.btn.btn_red.js-get-solve Решить

			.index__result.js-index-result

